.footer{
    height: 100%;
    max-height: 497px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, #323531 0%, #78A04A 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.have_a_question{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #A1B7A2;
}

.phone_number{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    text-align: center;

    color: #A8D0B8;
}

.codeup_ducky{
    height: 100%;
    background: url('/assets/codeupducky.png');
    background-size: 30% 90%;
    background-repeat: no-repeat;
    background-position: center;
}


@media only screen and (max-width: 1344px){

    .have_a_question {
        font-size: 36px;
    }

    .phone_number {
        font-size: 50px;
    }

    .codeup_ducky{ 
        background-size: 25% 70%;
        background-position: 50% 10px;
    }
}

@media only screen and (max-width: 952px){
    .have_a_question {
        font-size: 24px;
    }

    .phone_number{
        font-size: 34px;
    }
}

@media only screen and (max-width: 720px){
    .have_a_question{
        font-size: 19px;
    }

    .phone_number{
        font-size: 25px;
    }
}