.footer{
    height: fit-content;
    max-height: fit-content;
    width: 100%;
    /* overflow-x: hidden;
    overflow-y: show; */
    background: linear-gradient(180deg, #323531 0%, #78A04A 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.have_a_question{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #A1B7A2;
}

.footer-heading{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #A1B7A2;
}

.footer-list{
    list-style: none;
}

.footer-list > li > a {
    position: relative;
    left: 20px;
    text-decoration: none;
}

.phone_number{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    text-align: center;

    color: #A8D0B8;
}

.codeup_ducky{
    height: 300px;
    background: url('/CodeupRedesign/assets/codeupducky.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% 100%;
    background-position: 50% 10px;
}

.footer-apply-btn{
    background: #FFC20B;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #4D5F33;
    /* margin: auto; */
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border: none;
    max-height: 65px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


@media only screen and (max-width: 1344px){

    .have_a_question {
        font-size: 36px;
    }

    .phone_number {
        font-size: 50px;
    }

    .codeup_ducky{ 
        height: fit;
        background-size: 40% 70%;
        background-position: 50% 10px;
    }
}

@media only screen and (max-width: 952px){
    .have_a_question {
        font-size: 24px;
    }

    .phone_number{
        font-size: 34px;
    }
}

@media only screen and (max-width: 720px){
    .have_a_question{
        font-size: 19px;
    }

    .phone_number{
        font-size: 25px;
    }
}